@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css?family=Roboto'); 
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('https://fonts.googleapis.com/css?family=Roboto+Slab');
}

#logo{
    padding-top:10px;
    padding-bottom:10px;
    margin-right: 2%;
}
    
.topo-pagina {
  background: url('../assets/background-home.jpg') no-repeat;
  width: 100%;
  height: 700px;
  background-size: cover;
}

.conteudo{
    margin-top: 12%;
    margin-left: 11%;  
    margin-right: 11%;  
    text-align: center;
}
.conteudo .titulo1{
    
    font-family: 'Roboto', sans-serif;
    color: #EEE;
    font-size: 40px;
    font-weight: bold;
}
.conteudo .subtitulo{
    
    font-family: 'Roboto', sans-serif;
    color: #EEE;
    font-size: 17px;
}

.encurtador{
   text-align: center;
    margin-top:12%; 
}

.encurtador input,
.encurtador button{
    text-align: center;
    display: inline-block;
}
.encurtador input:hover{
   border-top: none;
   border-top-color:#AA1423; 
}
#link::-webkit-input-placeholder { /* WebKit browsers */
  color: #EF7128;
  text-align: left;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;  
  font-size: 20px;
  
}

.encurtador input{
    width: 40%;
    background: transparent;
    border: none;
    border-bottom: 3px solid #EF7128;
    outline: none;
    padding: 20px;
    color: #EF7128;
    text-align: left;
}
.encurtador button{
    width:10%;
    padding:13px;
    border: 1px solid #EF7128;
    color: white;
    font-size:20px;
    font-weight: bold;
    background-color: #EF7128;
    
} 

#informacoes-clicks, .h2{
    text-align: center; 
    color:#AA1423;
    margin-top:3%;
    margin-bottom:1%;
    margin-right:2%;
}   

.linksclicados{
    
    width: 70%;
    margin-top: 1%;
    
    
}
.lista-de-links{
    margin-left: 25%;
    width: 45%;
    margin-top: 1%;
    
}
ul li {
    margin-top: 1%;
   border-bottom: 1px solid #EEE;
    line-height: 30px;
    font-family: 'Roboto', serif; 
    color:#AA1423;
    font-weight:bold; 
    list-style-type:none;

}
li:last-child {
    Border-bottom: none;
}

ul li span {
   Float: right;
    font-weight: bold;
    color:#CCCCCC;
}
.seta {
  width: 100%;
  height: 3px;
  text-align: center;
  margin-top: 8%;
  margin-right: 50%;
  background-color: white;
    margin-bottom: 6%;
  
}
.seta-baixo:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0; 
  height: 0; 
    border-left: 38px solid transparent;
  border-right: 38px solid transparent;
  border-top: 35px solid white;
    
}
.conteudo-final{
    background-color:#EEE;
    
}

.conteudo-final, h1{
    text-align: center;
    margin-top: 5%;
    font-family: 'Roboto', serif; 
    color:#AA1423; 
   
}
#numerodeclicks{
    width: 20%;
    margin-left: 40%;
    margin-bottom: 10%;
   
  
   
    background-color: white;
    
    
    
}

tr th{
    font-size: 28px;
    text-align: center;
    border-style: 5px solid;
    
    
}
.rodapechr{
    background-color: white;
    margin-top: 2%;
    display: inline-block;
}
.rodapechr, a{
    font-family: 'Roboto', serif; 
    color:#AA1423; 
    font-weight: bold;
    margin-left: 4%;
}
.rodapeicons{
    display: inline-block;
    margin-top: 1%;
    position: absolute;
    margin-left: 53%;
}
#twitter{
   padding-left: 50%;

}
  
tfoot tr td{
    border-style: none;
    background-color: #EEE;
   font-family: 'Roboto', serif;
    color:grey;
    font-weight: bold;
}